



.header{
    display: flex;
    flex-direction: row;
    justify-items:baseline;
}
.header_weather{
    display: flex;
    font-size: x-large;
    font-weight: 600;
    justify-items: flex-start;
   
}
.header_title{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.header_clock{
    display: flex;
    font-size: x-large;
    font-weight: 600;
    /* justify-items: center; */
    margin-left: 550px;
   
}

.search{
    display: flex;
  
}


.search input{
   border-bottom: 2px solid black;
  border-top:  none;
  border-left: none;
  border-right: none;
    justify-items:center;
    align-self: flex-end;
    margin-left: 550px;
    margin-top: 40px;
}


.playmusic:hover{
    color:blue;
    
}




.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    margin-top: 70px;
    
}
.quote :last-child{
    margin-top: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin: 50px 100px;
}

#target{
  
    height: 450px;
    width: 450px;
    border-radius: none;
}




.todo-form_class{
    position: relative;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    width: 450px;
    height: 450px;
    
    
   
    
}

.todo-form_headername{
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: row;
}


.todo-form_listName{
        
        margin-bottom: 30px;
}


.todo-form_footer{
   
    align-items: center;
    justify-self: center;
    margin-top: 35px;
    

}

.inputBtn{
    margin-left: 45px;
    margin-right: 45px;
}

.deleteAll{
    margin-left: 50px;
    margin-right: 50px;
    
}
