.header{
    display: flex;
    flex-direction: row;
    justify-items:baseline;
}
.header_weather{
    display: flex;
    font-size: x-large;
    font-weight: 600;
    justify-items: flex-start;
   
}
.header_clock{
    display: flex;
    font-size: x-large;
    font-weight: 600;
    justify-items: center;
    margin-left: 550px;
   
}

.hidden{
    display: block;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    margin-top: 70px;
    
}
.quote :last-child{
    margin-top: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 50px 100px;
}
#target{
    width: 40px;
    height: 450px;
    width: 450px;
}

.view{
    justify-items:auto ;
    width: 30px;
    height: 60px;
    padding: 10px;
}


.todo-form_class{
    border: 2px solid black;
    display: flex;
    justify-items:auto;
    width: 450px;
    height: 450px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}
.todo-form_listName{
        align-items: center;
        margin-bottom: 30px;
}



#button{
    margin: 5px;
    background-color: blue;
}

